/* src/components/PigeonAnimation.module.css */

.pigeon {
  position: absolute;
  width: 200px;
  height: 200px;
  transform-origin: center;
  /* birdFlight animation will be handled by framer-motion */
}

.pHead {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: var(--pigeon-body-color);
  position: absolute;
  top: 50px;
  right: 20px;
}
.pEye {
  width: 10px;
  height: 10px;
  border-radius: 55%;
  background-color: black;
  position: absolute;
  top: 60px;
  box-shadow: 1px -1px 1px #fff;
  right: 35px;
}
.pBeak {
  transform: rotate(2deg);
  position: absolute;
  top: 65px;
  right: 5px;
  width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-left: 20px solid var(--pigeon-beak-color);
	border-bottom: 10px solid transparent;
}
.pBody {
  position: absolute;
  top: 70px;
  right: 30px;
  width: 100px;
  height: 50px;
  border-radius: 45%;
  background-color: var(--pigeon-body-color);
}
.pWhiteSpot {
  width: 53px;
  height: 20px;
  background-color: #fff;
  border-radius: 45%;
  position: absolute;
  top: 98px;
  right: 28px;
  transform: rotate(-22deg);
}
.pLeg {
  width: 20px;
  height: 55px;
  position: relative;
  bottom: 20px;
  left: 120px;
}
.pLeg1 {
  height: 25px;
  width: 2px;
  background-color: var(--pigeon-beak-color);
  position: absolute;
  left: 10px;
}
.pLeg2 {
  width: 12px;
  height: 2px;
  background-color: var(--pigeon-beak-color);
  position: absolute;
  top: 18px;
  left: 9px;
  transform: rotate(50deg);
}
.pLeg3 {
  width: 12px;
  height: 2px;
  background-color: var(--pigeon-beak-color);
  position: absolute;
  top: 18px;
  left: 1px;
  transform: rotate(-50deg);
}
.leftLeg {
  transform: rotate(20deg);
  top: 110px;
  left: 70px;
}
.rightLeg {
  transform: rotate(20deg);
  top: 55px;
  left: 80px;
}
.wingContainer {
  animation: wingFlap 2s infinite alternate;
  transform: rotate(30deg);
  position: absolute;
  bottom: 70px;
  left: 85px;
  transform-origin: top left;
}
.wing0, .wing1, .wing2, .wing3, .wing4 {
  background-color: var(--pigeon-body-color);
  border: 1px solid #777;
  border-right: none;
  border-bottom-color: #fff;
  border-radius: 20px 4px 12px 20px;
}
.wing0 {
  z-index: -1;
  width: 65px;
  height: 12px;
  position: relative;
  left: -10px;
  top: 7px;
}
.wing1 {
  width: 55px;
  height: 10px;
}
.wing2 {
  width: 45px;
  height: 8px;
  position: relative;
  top: -5px;
  left: 10px;
}
.wing3 {
  width: 35px;
  height: 6px;
  position: relative;
  top: -10px;
  left: 20px;
}
.wing4 {
  width: 25px;
  height: 4px;
  position: relative;
  top: -12px;
  left: 30px;
}

@keyframes wingFlap {
  0% {
    transform: rotate(-50deg) translateY(-0px);
  }
  
  100% {
    transform: rotate(75deg) translate(-30px, -20px);
  }
}