name: Scheduled Launch

on:
  schedule:
    # 11:00 UTC = 12:00 CET (Amsterdam time)
    # Minute Hour Day Month DayOfWeek
    - cron: '39 14 2 12 *'
  workflow_dispatch: # Allows you to test this workflow manually

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Install and Build
        run: |
          npm ci
          npm run build

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: dist
